:root {
    --mrmr-background-color: hsl(0, 0%, 100%);
    --mrmr-text-color: hsl(0, 0%, 24%);
    --mrmr-secondary-color: hsl(0, 0%, 47%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --mrmr-background-color: hsl(0, 0%, 4%);
        --mrmr-text-color: hsl(0, 0%, 90%);
        --mrmr-secondary-color: hsl(0, 0%, 73%);
    }
}

html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: system-ui, sans-serif;
    line-height: 1.3;
    background-color: var(--mrmr-background-color);
    color: var(--mrmr-text-color);
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid blue;
    font-weight: 500;

    @media (prefers-color-scheme: dark) {
        border-bottom-color: royalblue;
    }
}

a:visited {
    border-bottom-color: purple;
}

a:hover {
    background-color: hsl(60, 100%, 85%);
    color: oklch(40% 0 0);
    @media (prefers-color-scheme: dark) {
        background-color: yellow;
        color: oklch(20% 0 0);
    }
}

a:hover {
    border-bottom-color: transparent;
}

code {
    font-family: "Fira Mono", monospace;
    /* The monospace font looks too big sitting next to the other fonts */
    font-size: 14px;
}

pre {
    /* If the lines in code block do not fit, add a horizontal scroll to the
       pre element instead of increasing the width of the page contents. */
    overflow-x: auto;
}
